<% if resource.errors.any? %>
  <div id="error_explanation" class="border border-red-900 mb-2 text-red-900 bg-red-50 rounded p-4">
    <h2 class="text-sm font-bold" ><%= pluralize(resource.errors.count, "error") %> prohibited this booking from being saved:</h2>
    <ul>
    <% resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
